version: "3.9"

services:
  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8080:8080"
    depends_on:
      - user-service
      - movie-service

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3001:3001"

  movie-service:
    build: ./movie-service
    container_name: movie-service
    ports:
      - "3000:3000"
    environment:
      - OMDB_API_KEY=${OMDB_API_KEY}
